body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e272e;
    color: #ffffff;
    padding: 25px;
    text-align: center;
}

section {
    background-color: #ffffff;
    margin: 45px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
}

h2 {
    color: #1e272e;
}

ul {
    padding-left: 20px;
}